extends layout

block content
	.content
		.blackBlock
			img.terminal_bar(src='/img/terminal_bar.png')
			.ques_choice
				h1.tlt_q.question #{Q.title}
				a(href="#{parseInt(Q.qnum)+1}")#A.tlt_c1.button_c &#9758; #{Q.ansA}
				a(href="#{parseInt(Q.qnum)+1}")#B.tlt_c2.button_c &#9758; #{Q.ansB}
	script(src='/js/jquery.lettering.js')
	script(src='/js/jquery.fittext.js')
	script(src='/js/jquery.textillate.js')
	script(src='/js/test.js')
	script(src='/js/button.js')
