extends layout

block content
	.content
		.block
			.ques_choice
				h1.tlt_q.question Q#{Q.qnum} #{Q.title}
				a(href="#{Q.Anext}")#A.button_c &#9758; #{Q.ansA}
				a(href="#{Q.Bnext}")#B.button_c &#9758; #{Q.ansB}
				if (typeof(Q.ansC) !== 'undefined')
					a(href="#{Q.Cnext}")#C.tlt_c2.button_c &#9758; #{Q.ansC}
	script(src='/js/jquery.lettering.js')
	script(src='/js/jquery.fittext.js')
	script(src='/js/jquery.textillate.js')
	script(src='/js/test.js')
	script(src='/js/button.js')
