extends layout

block content
	.content
		.block
			.ques_choice
				h1.tlt_q.question Q#{Q.qnum} #{Q.title}
				if (Q.qnum !== 14)
					a(href="#{Q.Anext}")#A.button_c &#9758; #{Q.ansA}
					a(href="#{Q.Bnext}")#B.button_c &#9758; #{Q.ansB}
				else
					a(onclick="uploadtoimgur()")#A.button_c &#9758; #{Q.ansA}
					a(onclick="uploadtoimgur()")#B.button_c &#9758; #{Q.ansB}
				if (typeof(Q.ansC) !== 'undefined')
					a(href="#{Q.Cnext}")#C.tlt_c2.button_c &#9758; #{Q.ansC}
	.center#loading
		#fountainTextG
				.fountainTextG#fountainTextG_1 L
				.fountainTextG#fountainTextG_2 o
				.fountainTextG#fountainTextG_3 a
				.fountainTextG#fountainTextG_4 d
				.fountainTextG#fountainTextG_5 i
				.fountainTextG#fountainTextG_6 n
				.fountainTextG#fountainTextG_7 g
	script(src='/js/jquery.lettering.js')
	script(src='/js/jquery.fittext.js')
	script(src='/js/jquery.textillate.js')
	script(src='/js/tlt.js')
	script(src='/js/button.js')
	script(src='/js/sharephoto.js')
